/** {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  min-width: 360px;
  font-family: -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
}

/* use flex box to make sticky footer */
.app-container {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.content {
  -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1;           /* IE 10 */
  flex: 1;               /* NEW, Spec - Firefox, Chrome, Opera */
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

form label {
  width: 180px;
  margin: 0 auto;
}
form label,
form input {
  display: block;
  /*margin: 0 auto;*/
  text-align: left;
}

form input {
  font-size: 16px;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  height: 25px;
  border: 1px solid #777;
  border-radius: 3px;
}

button {
  text-align: center;
  border: 0;
  border-radius: 5px;
  outline: 0;
  background: none;
  margin: 0 auto;
  padding: 10px;
  border: none;
  color: #e2e2e2;
  background: #565656;
  cursor: pointer;
  width: 100px;
}

.btn-inactive {
  color: #777;
  background: #fff;  
  cursor: default;
  border: 1px solid #777;
  border-radius: 5px;
}

.no-touchevents button:hover:enabled {
  background: linear-gradient(#777, #1a1a1a);
  color: #fff;
  text-decoration: none;
}

.no-touchevents button:active {
  -webkit-transform: translateY(1px); 
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}

.no-touchevents .btn-inactive:active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.no-touchevents button.btn-inactive:hover {
  background: #fff;
  color: #777;
}

/* text area that displays error messages and server messages */
.message-display {
  margin-top: 10px;
  color: #d83636;
  font-size: .8em;
}

a {
  color: #d83636;
  text-decoration: none;
}

p {
  font-weight: 300;
}

/* div containing book */
.book {
  margin: 0 20px;
  height: 220px;
}

.book img {
  height: 160px;
  width: 100px;
}