footer {
  height: 160px;
  background: #3a80b2;
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
  margin-top: 30px;
}

footer a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.icons-container a {
		margin: 0 10px;
		position: relative;
		transition: all .2s ease-in;
		text-decoration: none;
		border: 0;
}

.icons-container a,
.icons-container a:visited {
  color: #fff;
}

.no-touchevents .icons-container a:hover {
	top: 3px;
}